* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
	content:"";
	display:block;
	clear:both;
}
.border{
	margin: 8px auto 30px auto;
	width: 70px;
	height: 3px;
	background-color: #EC715F;
}
.title{
	padding: 90px 0;
	text-align: center;
}
h3{
	font-size: 32px;
}
h4{
	font-size: 20px;
}
p{
	font-size: 16px;
}
.grey{
	background-color: #ECEFF1;
}
.body{
	margin: 30px auto;
}
.open-right{
	margin-right: 10px;
}
.open-right2{
	margin-right: 20px;
}
.open-bottom{
	margin-bottom: 10px;
}

/* header  */
header{
  height: 70px;
  width: 100%;
  background-color: #EC715F;
}
header .head-icon{
	height: 70px;
}
header nav{
	float: right;
}
header ul{
	list-style: none;
}
header ul li{
	display: inline-block;
	font-size: 16px;
	margin: 0 30px;
	line-height: 70px;
}
header a{
	text-decoration: none;
	color: #FAFAFA;
}

.container{
	margin: 0 auto;
	width: 1024px;
}

/* main-visual  */
.main-visual{
	height: 650px;
	padding-top: 200px;
	background-image: url("img/mv.png");
	background-size: cover;
	color: #FAFAFA;
	text-align: center;
}
.main-visual h1{
	font-size: 64px;
}
.main-visual h2{
	margin-top: 10px;
	font-size: 20px;
}

/* Portfolio  */
.big-box{
	width: 920px;
}
.box{
	float: left;
}

/* Feature  */
.strengths{
	width: 980px;
}
.strength{
	float: left;
	width: 320px;
	text-align: center;
}
.strength i{
	display: block;
	font-size: 60px;
}
.strength span{
	font-size: 20px;
	line-height: 40px;
}

/* Profile  */
.man{
	width: 1024px;
}
.introduction{
	float: left;
	width: 512px;
}
.man-image{
	border-radius: 50%;
	width: 250px;
	height: 250px;
}

/* Contact  */
.addresses{
	width: 800px;
}
.address{
	float: left;
	width: 400px;
}
.address-title{
	margin-bottom: 5px;
}
.space{
	margin-top: 20px;
}
.address i{
	font-size: 50px;
}

/* footer  */
footer{
	background-color: #EC715F;
	height: 60px;
	color: #FAFAFA;
	text-align: center;
	line-height: 60px;
}