* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header  */
header{
  height: 70px;
  width: 100%;
  background-color: #EC715F;
}
header .head-icon{
	height: 70px;
}
header nav{
	float: right;
}
header ul{
	list-style: none;
}
header ul li{
	display: inline-block;
	font-size: 16px;
	margin: 0 30px;
	line-height: 70px;
}
header a{
	text-decoration: none;
	color: #FAFAFA;
}

.container{
  width: 1024px;
  margin: 0 auto;
}

/* main-visual  */
.main-visual{
	height: 650px;
	padding-top: 200px;
	background-image: url("img/mv.png");
	background-size: cover;
	color: #FAFAFA;
	text-align: center;
}
.main-visual h1{
	font-size: 64px;
}
.main-visual p{
	margin-top: 10px;
	font-size: 20px;
}

