* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content:"";
	display:block;
	clear:both;
}
.border{
	margin: 8px auto 30px auto;
	width: 70px;
	height: 3px;
	background-color: #EC715F;
}
.title{
	padding: 90px 0;
	text-align: center;
}
h3{
	font-size: 32px;
}
h4{
	font-size: 20px;
}
p{
	font-size: 16px;
}
.grey{
	background-color: #ECEFF1;
}
.body{
	margin: 30px auto;
}
.open-right{
	margin-right: 10px;
}
.open-right2{
	margin-right: 20px;
}
.open-bottom{
	margin-bottom: 10px;
}
.float{
	float: left;
}

/* header  */
header{
	height: 70px;
	background-color: #EC715F;
}
header .head-icon{
	height: 70px;
}
header nav{
	float: right;
}
header ul{
	list-style: none;
}
header ul li{
	display: inline-block;
	font-size: 16px;
	margin: 0 30px;
	line-height: 70px;
}
header a{
	text-decoration: none;
	color: #FAFAFA;
}
.fa-bars{
	display: none;
}

.head-container{
	margin: 0 auto;
	max-width: 1024px;
	width: 90%;
}

/* main-visual  */
.main-visual{
	height: 650px;
	padding-top: 200px;
	background-image: url("img/mv.png");
	background-size: cover;
	color: #FAFAFA;
	text-align: center;
}
.main-visual h1{
	font-size: 64px;
}
.main-visual h2{
	margin-top: 10px;
	font-size: 20px;
}

/* Portfolio  */
.big-box{
	max-width: 920px;
}

/* Feature  */
.strengths{
	max-width: 980px;
}
.strength{
	width: 320px;
	text-align: center;
}
.strength i{
	display: block;
	font-size: 60px;
}
.strength span{
	font-weight: bold;
	font-size: 20px;
	line-height: 40px;
}

/* Profile  */
.man{
	max-width: 1024px;
}
.introduction{
	max-width: 512px;
	width: 100%;
}
.introduction-text{
	max-width: 512px;
	text-align: left;
}
.man-image{
	border-radius: 50%;
	width: 250px;
	height: 250px;
}

/* Contact  */
.addresses{
	max-width: 800px;
}
.address{
	width: 400px;
}
.address-title{
	margin-bottom: 5px;
}
.space{
	margin-top: 20px;
}
.address i{
	font-size: 50px;
}

/* footer  */
footer{
	background-color: #EC715F;
	height: 60px;
	color: #FAFAFA;
	text-align: center;
	line-height: 60px;
}

/* レスポンシブ対応  */
@media screen and (max-width:767px){
	header{
		height: 50px;
	}
	header .head-icon{
		height: 50px;
	}
	header ul{
		display: none;
	}
	.bar-box{
		height: 40px;
		width: 40px;
		margin: 5px 0;
		border: #FAFAFA solid 1px;
		position: relative;
	}
	.fa-bars{
		font-size: 30px;
		display: inline-block;
		color: #FAFAFA;
		position: absolute;
		top: 5px;
		right: 6px;
	}
	.float{
		float: none;
	}
	.disappear{
		display: none;
	}
	.open-right{
		margin: auto;
	}
	.open-bottom{
		margin: auto;
	}
	.main-visual h1{
		font-size: 40px;
	}
	.main-visual h2{
		font-size: 18px;
	}
	.body{
		margin-top: 60px;
	}
	.strength{
		margin: 5px auto;
	}
	.introduction{
		margin: auto;
	}
	.introduction-text{
		text-align: center;
		margin: auto;
	}
	h4{
		margin-top: 20px;
	}
	.container{
		width: 90%;
		margin: 0 auto;
	}
	.address{
		margin: auto;
	}
}